/*-----start extra resetting----*/
h1, h2, h3, mark{
    font-weight: normal;
}
mark{
    background-color: transparent;
    font-style: normal;
}
ul{
    list-style:none;
}
/*-----end extra resetting------*/
/*-----start liquid layout------*/
.container {
  background-color: rgb(142, 196, 4);
  padding: 0px;
  width: 580px;
  height: 40px;
  margin-left:-10px
}

h1 {
  font-size:35px;
  font-family: "kelly slab";
  position: relative;
  text-shadow: 1px 1px 1px white;
  color: rgb(53, 76, 41); 
  padding: 0;
  margin: 30px;

}
.bltri:before{
 content: '';
  position: absolute;
  height: 0;
  width: 0;
}

.bltri:before {
  top: 110%;
  left: -30px;
  border-top: 10px solid #7f0000;
  border-left: 10px solid transparent;
  
}
body
{
    
}
body > section
{
    width: 1000px;
    margin: 0 auto;    
    border: 2px red;
    border-top: 0;
    border-bottom: 0;
    background-color: rgb(241, 245, 233);
}
body > section > div > header,
body > section > div > section{
    width: 450px;
    display: inline-block;
    vertical-align: top;
    margin-top:45px;
}
p
{
  line-height: 1.5em;
  /* word-break: break-all; */
  padding-bottom: 20px;
  margin-right: 30px;
}
mark, h3
{
    color:#BD4747;
    font-weight:bold;
    font-size:18px;
}
body > section > div
{
  
}

/*-----end liquid layout--------*/
